
.container{
    background-color: #898D8C;
    width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.container2 {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 0px;
    background-color: #fff;
    color: #444;
}


.foto {
    background-color: #444;
    color: #fff;
    border-radius: 2px;
    padding: 2px;
    font-size: 150%;
}

.foto {
    width: 100%;
    height: auto;
}


